.form-group
  %span= question.code
  %h2= question.text
  = form_with model: question, url: questions_next_path, method: :post do |f|
    = f.hidden_field :id
    - question.options.each_pair do |k, v|
      .form-fields
        %span= k.upcase
        - if !@answer.nil? && @answer == k
          = f.radio_button :answer, k, checked: true
        - else
          = f.radio_button :answer, k
        = f.label :answer, v.html_safe
    = f.submit 'Siguiente'