.form-group
  %span= question.code
  %h2= question.text
  = form_with model: question, url: @answer.nil? ? questions_submit_path : questions_fix_path, method: @answer.nil? ? :post : :patch do |f|
    = f.hidden_field :id
    .font-bold= question.correct_answer
    - question.options.each_pair do |k, v|
      .form-fields
        %span= k.upcase
        - if !@answer.nil? && @answer == k
          = f.radio_button :answer, k, checked: true
        - else
          = f.radio_button :answer, k
        = f.label :answer, v.html_safe
    = f.submit 'Siguiente'
  - unless question.code.include?('Q1L1')
    = button_to 'Atrás', questions_back_path(id: question)