.card
  .card-body
    .con
      %h1.mb-3.text-neutral-3.text-lg.text-center= t("discover.L#{@level.number}.title")
      %div
        - if @next_question.nil?
          %h1.mb-3.text-3xl.font-bold.text-center ¡Felicidades has terminado!
          = image_tag "discover_L#{@level.number}", class: "m-auto opacity-0", id: "alcaravan"
        - else
          = image_tag "discover_L#{@level.number}", class: "m-auto"

      .image-source
        - unless @next_question.nil? 
          %span.italic= "Tomado de: "
          %a{ href: t("discover.L#{@level.number}.image_source") }= t("discover.L#{@level.number}.image_source")
      %p.mt-3= t("discover.L#{@level.number}.text")
      .mt-5.flex.justify-center
        - if @next_question.nil?
          .mt-5.flex.justify-center
            %button{:onclick => "playAudio()", class: "btn btn-primary w-fit"} Escuchar
            = link_to 'Coninuar', results_path, class: 'ml-3 btn btn-primary w-fit'
        - else
          = link_to 'Continuar', question_path(@next_question), class: 'btn btn-primary w-fit'
- if @next_question.nil?
  :javascript
    setTimeout(() => {
      const image = document.getElementById('alcaravan');
      if (image) {
        image.classList.replace('opacity-0', 'opacity-1');
      }
    }, 50);

:javascript
  function playAudio() {
    if (!document.getElementById('audio')) {
    const audio = document.createElement('audio');
    audio.setAttribute('src', 'alcaravan.mp3');
    audio.setAttribute('autoplay', 'autoplay');
    audio.setAttribute('muted', 'muted');
    audio.id = 'audio';
    document.body.appendChild(audio);
    audio.play();
    }
  };
