.card
  .card-body
    .con
      .card-header.text-center.relative
        %h1.text-4xl.comic.relative.z-10= @course.name
        - if @course.number.to_i == 3
          .class-number
            = image_tag "three.svg", class: "w-[100px]"
        - else
          .class-number
            = image_tag "five.svg", class: "w-[100px]"
      .text-center.mt-12
        %span Preguntas contestadas:
        %span= "#{current_user.answers(@level)}/5"
        .font-bold= "Pregunta ##{@question.number} - Nivel ##{@level.number}"
      .flex.items-center.w-fit.m-auto
        .mt-5
          = link_to question_path(@question), class: "w-fit text-center link-2" do
            = image_tag "next.svg", class: "icon m-auto"
            %span.text-xs.font-bold.text-indigo-600 Continuar
