.card
  .card-body
    .con
      .card-header.text-center
        %h1.comic.text-3xl= "Resultados del nivel #{@level.number}"
      .mt-5.flex.flex-col.items-center.opacity-0#results
        .text-center
          %p.mb-3.text-xl= "Preguntas correctas: #{@correct_answers}/5"
        - if @correct_answers >= 4
          .image-llanerito
            = image_tag "good.svg", alt: 'globo', class: 'balloon'
            = image_tag "llanerito.png", class: "boy", id: "alcaravan"
          #good
          %p.text-xl.my-5¡Muy bien haz logrado avanzar!
          = link_to discover_path(id: @level), class: "w-fit text-center link-2" do
            = image_tag "next.svg", class: "icon m-auto"
            %span.text-xs.font-bold.text-indigo-600 Siguiente
        - else
          #bad
          .balloon
          .image-llanerito
            = image_tag "#{@level.code}.svg", alt: 'globo', class: 'balloon'
            = image_tag "llanerito.png", class: "boy", id: "alcaravan"
          %p.text-xl.my-5 ¡Vuelve a intentarlo, puedes lograrlo!
          = button_to reset_level_path(id: @level), class: "w-fit text-center link-2", method: :delete do
            = image_tag "next.svg", class: "icon m-auto"
            %span.text-xs.font-bold.text-indigo-600 Siguiente
      .mt-5.flex.justify-center
        %button{:onclick => "showResults()", class: "w-fit text-center link-2", id: "display-results"}
          = image_tag "question.svg", class: "icon m-auto"
          %span.text-xs.font-bold.text-indigo-600 Descubrir resultados
:javascript
  function showResults() {
    document.getElementById('results').classList.replace('opacity-0', 'opacity-1');
    const displayResults = document.getElementById('display-results');
    displayResults.classList.add('vanish');
    setTimeout(() => { 
      displayResults.classList.add('shrink');
      displayResults.remove();
    }, 1000);
    if (!document.getElementById('audio')) {
      const audio = document.createElement('audio');
      if (document.getElementById('good')) {
        audio.setAttribute('src', "good.mp3");
      } else {
        audio.setAttribute('src', "A#{@level.code}.ogg");
      }
      audio.setAttribute('autoplay', 'autoplay');
      audio.setAttribute('muted', 'muted');
      audio.id = 'audio';
      document.body.appendChild(audio);
      audio.play();
    }
  }
