= turbo_stream.update "questions" do
  - if @count == 5
    = render "partial_result"
  - else
    - if @next_question.nil? || @question.nil?
      = render "finish"
    - else
      - if @error.nil?
        - unless @next_level.nil?
          -# %h1= @next_level.code
          -# =@count
        = render "form", question: @next_question
      - else
        %p= @error