= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message
  %div.hidden-form-comment
    .field
      = f.text_field :user_id, value: current_user.id
    -if current_user.teacher?
      .field
        = f.text_field :course_id, value: current_user.course_teacher.course.id
    -else
      .field
        = f.text_field :course_id, value: current_user.course_student.course.id
  .field.grid.grid-cols-1.gap-4
    = f.label :content, "Escribe un comentario para tus compañeros:", class: "font-bold"
    = f.text_area :content, class: "comment-area focus:outline focus:outline-primary outline-offset-0"
  .mt-5.flex.justify-center
    = link_to 'Atras', comments_path, class: "btn btn-primary w-fit"
    = f.submit 'Comentar', class: "ml-3 btn btn-primary w-fit"
