= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |message|
          %li= message
  %div.hidden-form-comment
    .field
      = f.text_field :user_id, value: current_user.id
    -if current_user.teacher?
      .field
        = f.text_field :course_id, value: current_user.course_teacher.course.id
    -else
      .field
        = f.text_field :course_id, value: current_user.course_student.course.id
  .field.grid.grid-cols-1.gap-4
    = f.label :content, "Publica un nuevo comentario:", class: "font-bold"
    = f.text_area :content, class: "comment-area rounded-xl", required: true
  .mt-5.flex.justify-center
    = link_to comments_path, class: "w-fit text-center link-2" do
      = image_tag "back.svg", class: "icon m-auto animated-back"
      %span.text-xs.font-bold.text-indigo-600 Atrás
    %button.ml-12.w-fit.text-center.relative.link-2.animated-plus-new-commnet{type: "button"}
      = f.submit "", class: "absolute top-0 bottom-0 w-full cursor-pointer animated-plus"
      = image_tag "plus.svg", class: "icon m-auto"
      %span.text-xs.font-bold.text-indigo-600 Publicar
