.card
  .card-body.grid.grid-cols-1.gap-5
    .card-header.text-center.relative
      %h1.text-center.comic.text-4xl.mb-16.relative.z-10= "Foro #{current_user.user_course}"
      .class-number
        = image_tag "chat.svg", class: "w-[100px]"
    -if current_user.student?
      .card-description
        %p Hola amiguito aquí puedes dejar tus comentarios sobre nuestro LIM el Alcaravan.
    -else
      .card-description
        %p Profe, recuerda que en este foro puedes hacerles recomendaciones a tus estudiantes, además puedes compartir material didáctico que desees haga parte de nuestro LIM en próximas ediciones.
    .overflow-y-auto.py-5{ class: "max-h-[400px]" }
      - if @comments.blank?
        .py-20.text-center
          %p No hay comentarios aún
      -else
        - @comments.order(created_at: :desc).each do |comment|
          - course = " curso #{comment.user.my_course.number}°" if comment.user.student?
          .comment.my-2.relative
            .flex.items-center.justify-between
              .comment-title.underline.text-neutral-3= "#{comment.user.full_name.capitalize.capitalize.titleize}  (#{t(comment.user.role)}#{course})"
              .flex.items-center
                = render "likes/form", comment: comment
            .text-xs.absolute.bottom-1.right-2= "#{comment.created_at.strftime('%m/%d/%Y')}"
            .comment-content= comment.content
    = link_to new_comment_path, class: "ml-12 w-fit text-center link-2" do
      = image_tag "plus.svg", class: "icon m-auto animated-plus"
      %span.text-xs.font-bold.text-indigo-600 Nuevo comentario
:javascript
  const audio = document.createElement('audio');
  audio.id = 'audio';
  audio.setAttribute('src', 'like.mp3');
  audio.setAttribute('autoplay', 'autoplay');
  audio.setAttribute('muted', 'muted');
  document.body.appendChild(audio);