%p#notice= notice

%p
  %b User:
  = @comment.user
%p
  %b Course:
  = @comment.course
%p
  %b Content:
  = @comment.content

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
