.card
  .card-header
    %h2= "Estudiantes #{current_user.course.name}"
  .card-body
    .grid.grid-cols-12.font-semibold.text-base.py-4
      .col-span-4.text-left Nombre
      .col-span-2.text-left Nivel 1
      .col-span-2.text-left Nivel 2
      .col-span-2.text-left Nivel 3
      .col-span-2.text-left Nivel 4
    -@students.map do |student|
      .grid.grid-cols-12.py-4.px-2.my-3.rounded.bg-neutral-1{class: 'hover:bg-neutral-2'}
        .col-span-4.text-left= student.full_name.capitalize
        - student.course_student.course.levels.each do |level|
          -if student.answers(level) > 0
            .col-span-2.text-left
              %span
                = link_to student_path(id: student, level_id: level, format:'pdf') , target: '_blank' do
                  = image_tag 'pdf.svg', alt: 'Pdf icon', class: 'w-6 h-6'
              %span= "#{student.correct_answers(level)}/#{level.questions.count}"
          -else
            .col-span-2.text-left
              %span N/A