.wrapper{class: 'h-[500px]'}
  .flex.items-center.text-primary.absolute.-top-34
    .rounded-full
      = image_tag "birdIcon.svg", class: "w-20"
    .ml-3.pt-2
      .font-bold.cursive.text-8xl Alcarav치n
  .header-text
    %h2 Iniciar Sesi칩n
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.mb-4
      = f.text_field :username, autofocus: true, placeholder: 'Usuario'
    .field.mb-4
      = f.password_field :password, placeholder: 'Contrase침a'
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me do
          %span Recuerdame
    .actions.mb-3
      = f.submit "Inciar Sesi칩n", class: 'btn btn-primary'
  = render "devise/shared/links"
