.card
  .card-header
    %h2= "Niveles #{current_user.course.name}"
  .card-body
    .grid.grid-cols-12.font-semibold.text-base.py-4
      .col-span-2.col-start-3.text-left Codigo
      .col-span-2.text-left Grado
      .col-span-2.text-left PDF
    -@levels.map do |level|
      .grid.grid-cols-12.py-4.px-2.my-3.rounded.bg-neutral-1{class: 'hover:bg-neutral-2'}
        .col-span-2.col-start-3.text-left= level.code
        .col-span-2.text-left= level.course.name
        .col-span-2.text-left
          = link_to asset_path("#{level.code}.pdf", skip_pipeline: true), class: 'flex gap-4', target: '_blank' do
            %span= "Lectura"
            = image_tag 'pdf.svg', alt: 'Pdf icon', class: 'w-6 h-6'
