.con.mt-14.mb-30{class: 'w-10/12'}
  .card-header.text-center.comic.font-bold.text-4xl.mb-16
    %h1 Autores
  .grid.grid-cols-2.gap-5
    %div
      %h2.text-center.comic.font-bold.text-2xl.mb-4= t("about.authors.author_1.name")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_1.ba")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_1.ma")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_1.position")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_1.experience")
      %p.list-disc.text-lg.comic.text-center.underline= t("about.authors.author_1.email")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_1.contact_number")
    %div
      %h2.text-center.comic.font-bold.text-2xl.mb-4= t("about.authors.author_2.name")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_2.ba")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_2.ma")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_2.position")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_2.experience")
      %p.list-disc.text-lg.comic.text-center.underline= t("about.authors.author_2.email")
      %p.list-disc.text-lg.comic.text-center= t("about.authors.author_2.contact_number")
.mt-5.flex.justify-start
  = button_to about_paginate_path(page: "skills"), class: "w-fit text-center link-2" do
    = image_tag "back.svg", class: "icon m-auto"
    %span.text-xs.font-bold.text-indigo-600 Atrás