.img-justification{class: 'top-40'}
  = image_tag 'alca2.jpg'
.img-justification{class: 'bottom-10'}
  = image_tag 'alca3.jpg'
.con.mt-14.mb-30
  .card-header.text-center.comic.font-bold.text-4xl.mb-16
    %h1= t("about.justification.title")
  %ul
    - 4.times do |i|
      %li.mb-3
        %p.text-justify.text-2xl.mb-8= t("about.justification.parragraph_#{i}")
.mt-5.flex.justify-between
  = button_to "Atrás", about_paginate_path(page: "presentation"), class: "btn-secondary"
  = button_to "Siguiente", about_paginate_path(page: "skills"), class: "btn-secondary"
