.img-presentation
  = image_tag 'just-bird.jpg'
.con.mt-16.mb-40
  .card-header.text-center.comic.font-bold.text-4xl.mb-16
    %h1= t("about.presentation.title")
  %p.text-justify.text-2xl= t("about.presentation.welcome_message")
.mt-5.flex.justify-end
  = button_to about_paginate_path(page: "justification"), class: "w-fit text-center link-2" do
    = image_tag "next.svg", class: "icon m-auto animated-back"
    %span.text-xs.font-bold.text-indigo-600 Siguiente