= turbo_stream.update "about" do
  - case @page
  - when "presentation"
    = render "presentation"
  - when "justification"
    = render "justification"
  - when "skills"
    = render "skills"
  - when "authors"
    = render "authors"
  - else
    = render "presentation"
